body {
	background-color: #0d0d0d;
}

#container {
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 800px;
}


#logo {
	position: relative;
	background: url(c2g-logo.png) no-repeat center center;
	width: 970px;
	height: 400px;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid #00ff00; /* The typewriter cursor */
	color: #ffffff;
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	  typing 3.25s steps(40, end),
	  blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #00ff00; }
  }